<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Reply Notification</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg p-8 mt-10">
      <img src="https://res.cloudinary.com/dyn63itl8/image/upload/v1737895337/zfch48efsemeekstemcb.png" alt="Edu Grantors Logo" class="mb-4" />

        <h1 class="text-2xl font-bold text-gray-800 mb-4">Hello <%= name %>,</h1>
        <p class="text-gray-600 mb-4">You have a new reply to your question posted in the video "<span class="text-blue-500 font-semibold"><%= title %></span>".</p>
        <!-- <p class="text-gray-600 mb-6">Please <a href="#" class="text-indigo-600 font-medium hover:underline">Login</a> to view the reply and continue the discussion.</p> -->
        <p class="text-gray-500">Thank you for being part of our community!</p>
    </div>
</body>
</html>
